@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row col-12">
                    <button class="btn btn-primary col-2" id="Btn_NewVenta">Nuevo +</button>
                    <h5 class="col-8 text-center">Ventas</h5>
                    <div class="col-2"></div>
                </div>
                <br />
                <div class="">
                    @Html.EJS().Grid("Grid_VentaAuto").AllowResizing(true).AllowSorting().AllowFiltering().Columns(col =>
               {
                   col.Field("IdVentaAuto").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                   col.Field("Numero").HeaderText("Número de Venta").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Usuario").HeaderText("Empleado responsable").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Cliente").HeaderText("Cliente").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("EstadoVenta").HeaderText("Estado de la venta").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.HeaderText("Opciones").Template("#templateVenta").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
               }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageCount(5).PageSize(4)).Render()
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .e-grid .e-headercell {
        background-color: #eeeeee;
    }

    .e-grid .e-gridheader {
        color: black;
    }
</style>

<script id="templateVenta" type="text/x-template">
    <div class="row text-center">
        <div class="col-md-12 ">
            <div class="">

                ${if(EstadoVenta=="Creado")}
                <a class="text-succcess" href="javascript:void(0)" onclick="RowSelectVenta(${IdVentaAuto})" data-toggle="tooltip" data-placement="top" title="Detalles">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="text-danger" style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" onclick="Cancelar(${ IdVentaAuto })" data-toggle="tooltip" data-placement="top" title="Cancelar">
                    <i class="fa fa-remove"></i>
                </a>

                ${else}
                <a class="text-muted" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Detalles">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="text-muted" style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Cancelar">
                    <i class="fa fa-remove"></i>
                </a>
                ${/if}
            </div>
        </div>
    </div>
</script>

<div class="modal fade" id="VentaModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="frmVenta">

            </div>

        </div>
    </div>
</div>

<script>
    $(function () { VentaAutoLoad(); })

    function VentaAutoLoad() {
        $.get('@Url.Action("VentaAutoJson", "VentaAuto")', function (data) {
            var grid = document.getElementById('Grid_VentaAuto').ej2_instances[0]; // Grid instance
            grid.dataSource = JSON.parse(data);
         });
     }

    $('#Btn_NewVenta').click(function () {
        $.get('@Url.Action("CreateVentaAuto", "VentaAuto")', function (data) {
            $('#frmVenta').html(data);
            $('#VentaModal').modal("show");
        });
    });

    function RowSelectVenta(Id) {
        $(location).attr('href', '/VentaAuto/Options' + '?Id=' + Id);
    }     

    function Cancelar(IdVentaAuto){
            Swal.fire({
                position: "top",
                title: 'Cancelar',
                text: "Desea cancelar la venta!",
                icon: 'warning',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar',
                reverseButtons: true
        }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("CancelarVenta", "VentaAuto", new { IdVentaAuto = "_id_" })'.replace('_id_', IdVentaAuto), function (data) {
                        VentaAutoLoad();
                        if (data == 1) {
                            Swal.fire({
                            position: "top",
                            title: "Venta cancelada",
                            icon: "success",
                            button: "Aceptar",
                        });
                        }
                        else {
                        Swal.fire({
                            position: "top",
                            title: "Error",
                            text: "Error No Reconocido",
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }
                        
                    });
                } 
            });
    };
</script>


