@{
    Layout = null;
}
<ul id="nav_menu">
    <li>
        <a href="javascript:void(0)"><i class="ti-dashboard"></i><span>dashboard</span></a>
        <ul class="submenu">
            <li><a href="index.html">ICO dashboard</a></li>
            <li><a href="index2.html">Ecommerce dashboard</a></li>
            <li><a href="index3.html">SEO dashboard</a></li>
        </ul>
    </li>
    <li class="active">
        <a href="javascript:void(0)">
            <i class="ti-layout-sidebar-left"></i><span>
                Sidebar
                Types
            </span>
        </a>
        <ul class="submenu">
            <li><a href="index.html">Left Sidebar</a></li>
            <li class="active"><a href="index3-horizontalmenu.html">Horizontal Sidebar</a></li>
        </ul>
    </li>
    <li >
        <a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i><span>Movimientos</span></a>
        <ul class="submenu">
            <li><a href="accordion.html">Compra</a></li>
            <li><a href="alert.html">Venta</a></li>
            <li><a href="badge.html">Traspaso</a></li>
            <li><a href="/Mantenimiento/"><i class="fa fa-wrench"></i>Mantenimiento</a></li>
           
        </ul>
    </li>
    <li @*class="mega-menu"*@>
        <a href="javascript:void(0)"><i class="fa fa-archive"></i> <span>Inventarios</span></a>
        <ul class="submenu">
            <li><a href="/Auto/"><i class="fa fa-car"></i>Vehiculos</a></li>
            <li><a href="/Accesorio/">Accesorios</a></li>
            <li><a href="/AutoPartes/"><i class="fa fa-tachometer"></i>Refacciones</a></li>
           
        </ul>
    </li>
    <li><a href="/Promocion"><i class="fa fa-tags"></i><span>Promociones</span></a></li>
    <li><a href="/Cliente"><i class="fa fa-users "></i> <span>Clientes</span></a></li>
    <li><a href="/Empleado"><i class="fa fa-user"></i> <span>Empleados</span></a></li>
</ul>
